@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


nav {
    background: white;
}


.navbar-toggler {
    border-color:#abe0c6;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 140, 83, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.atur-navbar {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.atur-about {
    margin-top: 100px;
    margin-bottom: 100px;
}


.icon-sosmed #icon-facebook {
    transition: transform 0.5s, color 0.4s ease-out;
    color: #45505B;
}

.icon-sosmed #icon-facebook:hover {
    transform: scale(1.4);
    color: #4267B2;
}

.icon-sosmed #icon-instagram {
    transition: transform 0.5s, color 0.4s ease-out;
    color: #45505B;
}

.icon-sosmed #icon-instagram:hover {
    transform: scale(1.4);
    color: #F77737;
}

.icon-sosmed #icon-linkedin {
    transition: transform 0.5s, color 0.4s ease-out;
    color: #45505B;
}

.icon-sosmed #icon-linkedin:hover {
    transform: scale(1.4);
    color: #0e76a8;
}

.icon-sosmed #icon-twitter {
    transition: transform 0.5s, color 0.4s ease-out;
    color: #45505B;
}

.icon-sosmed #icon-twitter:hover {
    transform: scale(1.4);
    color: #1DA1F2;
}

.atur-about h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #45505B;
}

.atur-about h6 {
    font-family: 'Raleway', sans-serif;
    color: #168C53;
    font-weight: 600;
}

.atur-about p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.atur-portofolio h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #45505B;
}

.atur-portofolio .h3-hijau {
    font-family: 'Open Sans', sans-serif;
    color: #168C53;
}

.atur-portofolio a {
    color: #45505B;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.atur-portofolio .geser-foto-1 {
    margin-bottom: 0;
}

.atur-portofolio .geser-foto-2 {
    margin-bottom: 50px;
    margin-left: 0px;
}

.atur-portofolio .geser-foto-3 {
    margin-right: 45%;
}

.atur-portofolio .geser-foto-7 {
    margin-top: 15px;
}

.atur-portofolio .geser-foto-12 {
    margin-right: 40%;
}

.atur-contact {
    color: #45505B;
}

.atur-contact h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.atur-contact .h3-hijau {
    font-family: 'Open Sans', sans-serif;
    color: #168C53;
}

.atur-contact h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.footer-heart {
    color: #FF4141;
    transition: transform 0.5s, color 0.4s ease-out;
}

.footer-heart:hover {
    color: crimson;
}

/* * dark mode */

.darkmode {
    background: #02091C;
}

.darkmode h1 {
    color: white;
}

.darkmode p {
    color: white;
}

.darkmode hr {
    color: white;
}

.darkmode .icon-sosmed #icon-instagram {
    transition: transform 0.5s, color 0.4s ease-out;
    color: white;
}

.darkmode .icon-sosmed #icon-facebook {
    transition: transform 0.5s, color 0.4s ease-out;
    color: white;
}

.darkmode .icon-sosmed #icon-twitter {
    transition: transform 0.5s, color 0.4s ease-out;
    color: white;
}

.darkmode .icon-sosmed #icon-linkedin {
    transition: transform 0.5s, color 0.4s ease-out;
    color: white;
}

.darkmode h3 {
    color: white;
}

.darkmode .text-loadmore {
    color: white;
}

.darkmode nav {
    background: #02091C;
}

.darkmode ul>li>a {
    color: white;
}

.darkmode ul>li>a:hover {
    color: #168C53;
}

.darkmode ul>li>a:active {
    color: #157e4b;
}

.darkmode ul>li>a:focus {
    color: #157e4b;
}


.darkmode .teks-darkmode-h6 {
    color: white;
}

.darkmode .icon-sosmed #icon-facebook:hover {
    transform: scale(1.4);
    color: #4267B2;
}

.darkmode .icon-sosmed #icon-instagram:hover {
    transform: scale(1.4);
    color: #F77737;
}

.darkmode .icon-sosmed #icon-linkedin:hover {
    transform: scale(1.4);
    color: #0e76a8;
}

.darkmode .icon-sosmed #icon-twitter:hover {
    transform: scale(1.4);
    color: #1DA1F2;
}

.darkmode .navbar-toggler {
    border-color: #05133a;
}

.darkmode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 140, 83, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
